$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-color             : #333;

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/box-shadow";
@import "blueprint";
@import "blueprint/fancy-type";
@import "blueprint/scaffolding";
@import "blueprint/buttons";

body {
    @include fancy-type;
    @include blueprint;
    @include blueprint-scaffolding;
}

nav {
    position: fixed;
    top: 10px;
    left: 16em;
}

#wrapper {
    @include container;
    margin: 10px 0 0 50px;
}

#header {
    width: 950px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 50px;
    padding-top: 10px;
}

#content {
    @include column(18);
    margin-top: 73px;

    article {
        margin: 1em 0;
        border-bottom: 1px dotted #ccc;
    }
}

#sidebar {
    width: 230px;
    position: fixed;
    top:  73px;
    right: 50px;
}    

#stickies {
    article {
        background: #ffc;
        margin: 1em 0;
        padding: 0.5em;
        border-radius: 0.25em;
        @include box-shadow;
    }
}

#button-to-create-new-posts,
#button-to-create-new-stickies {
    @include button-button;
}

body textarea.huge {
    width: 99%;
    height: 500px;
}
