$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$blueprint-font-size    : 16px;
$font-color             : #333;

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/box-shadow";
@import "blueprint";
@import "blueprint/fancy-type";
@import "blueprint/buttons";

@include blueprint;


body {
    @include fancy-type;
}

nav {
    position: fixed;
    top: 10px;
    left: 18em;
}

#wrapper {
    @include container;
    margin: 10px 0 0 50px;
}

#header {
    width: 950px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 50px;
    padding-top: 10px;
}

#content {
    width: 710px;
    margin-top: 75px;

    article {
        display: block;
        margin-bottom: 1.5em;
        outline-bottom: 1px dotted #ccc;        
        .permalink {
            color: #ccc;

            &:hover {
                color: #777;
                text-decoration: underline;
            }
        }
    }
}

#stickies {
    width: 260px;
    position: fixed;
    top:  85px;
    right: 50px;
    margin-top: -0.5em;

    article {
        background: #ffc;
        border-radius: 0.25em;
        padding: 0.5em;
        margin-bottom: 0.5em;
        @include box-shadow;
    }
}

#button-to-create-new-posts,
#button-to-create-new-stickies {
    @include button-button;
}

body textarea.huge {
    width: 99%;
    height: 500px;
}
